
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
  text-align: center;
  margin: 24px 0px;  
}



/* banner styles */
.banner-title{
    font-size: 48px;
    font-weight: 400;
}
.banner-pic{
    width: 173.03px;
    height:228.9px;
    left: 243.4%;
    right: -215.41%;
    top: 25;
    bottom: 4.63%;
    


}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    background-color: black;
    padding: 21px;
    color: aliceblue;
    text-align:center;
    
    flex-direction: row;
    font-size: 15px;
    border-radius: 5px;
    width: 208px;
    height: 66px;
    cursor: pointer;
    position: static;

}
.banner-description{
    position: static;
    width:800px;
    height:600px;
    
position: static;
width: 852px;
height: 52px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;



flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

.banner-content{
    width: ;
}
.background-img{

background: url('Hero-bg.png');
    position: absolute;
left: 0;
right: 0;
top: 131px;
bottom: 4462px;
}


.header-one{
    
    background: url('Hero-bg.png');
     position: absolute;
width: 1920px;
height: 700px;
left: 0;
right: 20;
top: 5px;
bottom: 4462px;

}
.section-title{
    font-size:32px ;
    font-weight:800 ;
    color: black;
    margin-top: 50px;
    

}
.section-description{
    font-size:16px ;
    color:rgb(13, 19, 33) ;
    font-weight: 400;
    row height: 26px;
}
.about{
    border-radius: 10;
}
.main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    padding: 80px 97px;
    text-align: center;
    background-color: #e7e7e7;
    margin-top: 80px;

}
.secoondary-bg{
    background-color: rgba(13, 19, 33, 0.02);
}
.item-description{
    font-weight: 600;
    color: rgb(13, 19, 33);
}
.about-items{
    display: flex;
}

 .text-container{
    width: 50%;
 }


.heading{
    Font: Azeret Mono
Font weight: 800
Font size: 32pxpx
Row height: 37px
Letter spacing: 0%
Align: Align center
    color:  rgb(13, 19, 33)
}
.youtube-video{
margin-top: 80px;
}
.youtube-video{
    margin-top: 80px;
}
.video-header{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 100px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;

}
/* skill section style */

.skils-container{
    display: flex;
    position: static;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50x 0px ;
    box-sizing: border-box;
    
}

.skill-description{
    padding: 60px;
}
.about-third-bg{
    display: flex;
    align-items: center;
    padding: 50px;
}
/* 
 */
 .second-part{
    display: flex;
    display direction: row;
    
 }
 .img-section{
    border-radius: 16px;

background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);

 }